#head {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("Images/loggingPage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

#logo {
  position: absolute;
  top: 20px;
  left: 70px;
  z-index: 4;
}
#logo img {
  width: 100px;
  height: 40px;
}

#nav {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 70px;
}
#nav ul li {
  list-style: none;
  font-size: 13px;
}
#nav ul li #sType {
  width: 91px;
  font-weight: 700;
  border: none;
  background: transparent;
  outline: none;
  color: white;
}
#nav ul li #sType:hover {
  cursor: pointer;
}
#nav ul li #sType option {
  color: black;
}

h1 {
  position: absolute;
  left: 50%;
  top: 17%;
  transform: translate(-50%, -80%);
  color: white !important;
  font-size: 30px !important;
}

#registrationForm {
  background-color: #ffffff;
  width: 360px;
  height: 450px;
  position: relative;
  left: 50%;
  top: 50%;
  overflow: hidden;
  border-top: 7px solid #0c054d;
  border-bottom: 20px solid #0c054d;
  border-left: 3px solid #0c054d;
  border-right: 3px solid #0c054d;
  border-radius: 20px;
  z-index: 10;
}
#registrationForm .form {
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  position: absolute;
  top: 60px;
  left: 15px;
  transition: 0.5s;
  background-color: rgba(68, 14, 218, 0.041);
  margin-left: 10px;
}
#registrationForm .form p {
  margin-left: 16px;
}
#registrationForm .form label {
  margin-left: 16px;
}
#registrationForm .form #next1 {
  margin-left: 88px;
}
#registrationForm .form #next2,
#registrationForm .form #back1,
#registrationForm .form #back2,
#registrationForm .form #submit {
  position: relative;
  left: 13px;
}
#registrationForm .form input,
#registrationForm .form select {
  padding: 4px 4px;
  margin-left: 16px;
  margin-bottom: 10px;
  margin-top: 2px;
  background: transparent;
  outline: none;
  width: 88%;
  border-radius: 7px;
}
#registrationForm .form button {
  width: 100px;
  height: 35px;
  margin: 0 8px;
  background: linear-gradient(to right, #0c054d, #ffad05);
  border-radius: 17px;
  outline: none;
  color: #fff;
  cursor: pointer;
}
#registrationForm #formDiv2 {
  left: 450px;
}
#registrationForm #formDiv3 {
  left: 450px;
}
#registrationForm .step-raw {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}
#registrationForm .step-raw .step-col {
  width: 120px;
  text-align: center;
  color: whitesmoke;
  position: relative;
}
#registrationForm .step-raw #progress {
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(to right, #0c054d, #ffad05);
  transition: 1s;
}
#registrationForm .step-raw #progress::after {
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #ffad06;
}

#universityLoggin,
#onlineLoggin {
  z-index: 4;
  padding: 30px 20px;
  padding-left: 43px;
  background-color: #ffffff;
  width: 300px;
  height: 350px;
  position: absolute;
  position: relative;
  left: 50%;
  top: 50%;
  border-top: 7px solid #0c054d;
  border-bottom: 20px solid #0c054d;
  border-left: 3px solid #0c054d;
  border-right: 3px solid #0c054d;
  border-radius: 20px;
}
#universityLoggin h2,
#onlineLoggin h2 {
  color: #777;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 25px;
  text-decoration: underline;
}
#universityLoggin label,
#onlineLoggin label {
  margin-left: 7px;
}
#universityLoggin input,
#onlineLoggin input {
  padding: 10px 5px;
  margin: 10px 0;
  background: transparent;
  outline: none;
  width: 88%;
  border: 0;
  border-bottom: 1px solid #999;
}
#universityLoggin ::placeholder,
#onlineLoggin ::placeholder {
  color: #777;
}
#universityLoggin button,
#onlineLoggin button {
  width: 80px;
  height: 30px;
  margin: 40px 13px;
  background: linear-gradient(to right, #0c054d, #ffad05);
  border: 0;
  border-radius: 13px;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#display4,
#display5,
#display6 {
  display: none;
  animation: loading 1s linear;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 761px) {
  #head h1 {
    font-size: 25px !important;
  }
  #registrationForm {
    width: 300px;
    height: 450px;
  }
  #registrationForm .form {
    padding: 10px;
    width: 260px;
    left: 7px;
  }
  #registrationForm .form #next2,
  #registrationForm .form #back1,
  #registrationForm .form #back2,
  #registrationForm .form #submit {
    position: relative;
    left: 40px;
  }
  #registrationForm .form button {
    font-size: 12px;
    width: 60px;
    height: 35px;
    margin: 4px 8px;
  }
  #registrationForm .step-raw {
    width: 300px;
  }
  #registrationForm .step-raw .step-col {
    width: 100px;
  }
  #registrationForm .step-raw #progress {
    width: 100px;
  }
}
@media only screen and (max-width: 638px) {
  #head h1 {
    font-size: 20px !important;
  }
  #logo {
    left: 30px;
  }
  #nav {
    right: 30px;
  }
  #universityLoggin,
  #onlineLoggin {
    padding: 30px 10px;
    padding-left: 34px;
    width: 240px;
  }
  #universityLoggin h2,
  #onlineLoggin h2 {
    font-size: 20px;
  }
  #universityLoggin button,
  #onlineLoggin button {
    width: 60px;
    margin: 40px 10px;
  }
}
@media only screen and (max-width: 511px) {
  #head h1 {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 412px) {
  #logo {
    top: 30px;
    left: 20px;
  }
  #logo img {
    width: 80px;
    height: 30px;
  }
  #nav {
    top: 30px;
    right: 20px;
  }
  #nav ul li {
    font-size: 10px;
  }
  #nav ul li #sType {
    width: 80px;
  }
  #head h1 {
    top: 21%;
    font-size: 13px !important;
  }
  #registrationForm {
    width: 240px;
    height: 400px;
    bottom: 480px;
  }
  #registrationForm .form {
    padding: 5px;
    width: 200px;
    top: 47px;
  }
  #registrationForm .form #next1 {
    margin-left: 67px;
  }
  #registrationForm .form #next2,
  #registrationForm .form #back1,
  #registrationForm .form #back2,
  #registrationForm .form #submit {
    left: 20px;
  }
  #registrationForm .form input,
  #registrationForm .form select {
    padding: 2px 2px;
    margin-bottom: 10px;
  }
  #registrationForm .step-raw {
    height: 30px;
    width: 240px;
  }
  #registrationForm .step-raw .step-col {
    width: 80px;
  }
  #registrationForm .step-raw #progress {
    width: 80px;
  }
  #registrationForm .step-raw #progress::after {
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  #universityLoggin,
  #onlineLoggin {
    padding: 30px 7px;
    padding-left: 30px;
    width: 200px;
    height: 310px;
  }
  #universityLoggin h2,
  #onlineLoggin h2 {
    font-size: 16px;
  }
  #universityLoggin button,
  #onlineLoggin button {
    width: 50px;
    margin: 20px 10px;
    font-size: 11px;
  }
}
@media only screen and (max-width: 331px) {
  #logo img {
    width: 70px;
    height: 16px;
  }
  #head h1 {
    font-size: 10px !important;
  }
}

/*# sourceMappingURL=loggingPage.css.map */
