#head {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(transparent 2%, rgb(8, 7, 26) 28%);
}

#logo {
  position: absolute;
  top: 25px;
  left: 70px;
  z-index: 4;
}
#logo img {
  width: 100px;
  height: 30px;
}

.slideImages {
  height: 650px;
  width: 100%;
}
.slideImages img {
  position: absolute;
  top: 0%;
  height: 650px;
  width: 100%;
  opacity: 0.4;
}
.slideImages #intro1,
.slideImages #intro2,
.slideImages #intro3 {
  width: 600px;
  z-index: 1;
  position: relative;
  top: 28%;
  left: 10%;
}
.slideImages #intro1 p,
.slideImages #intro1 h1,
.slideImages #intro2 p,
.slideImages #intro2 h1,
.slideImages #intro3 p,
.slideImages #intro3 h1 {
  color: white;
}

#intro1 .p,
#intro2 .p,
#intro3 .p {
  font: 700 34px Montserrat;
  letter-spacing: 1.4px;
  color: rgba(1, 54, 107, 0.937254902) !important;
}
#intro1 h1,
#intro2 h1,
#intro3 h1 {
  letter-spacing: 1.7px;
  position: relative;
  bottom: 10px;
  font-size: 58px;
  font-weight: 700;
}
#intro1 .para,
#intro2 .para,
#intro3 .para {
  letter-spacing: 1.2px;
  font-size: 14px;
}

#intro2 .p {
  font-size: 30px;
}
#intro2 h1 {
  letter-spacing: 2px;
}

#intro3 .p {
  font-size: 30px;
}
#intro3 h1 {
  letter-spacing: 1.1px;
}

#nav {
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 40px;
}
#nav ul {
  display: flex;
  justify-content: flex-end;
}
#nav ul li {
  list-style-type: none;
  margin: 16px;
  font-weight: 700;
}
#nav ul li a {
  text-decoration: none;
  color: rgba(1, 54, 107, 0.937254902);
}
#nav #sType {
  width: 110px;
  font-weight: 700;
  border: none;
  background: transparent;
  outline: none;
  color: rgba(1, 54, 107, 0.937254902);
}
#nav #sType:hover {
  cursor: pointer;
}
#nav #sType option {
  font-size: 14px;
}

#navigation {
  display: none;
}
#navigation .btn {
  background-color: rgba(5, 11, 65, 0.1);
  margin-left: 3px;
  margin-right: 7px;
  margin-top: 10px;
  padding: 0;
  border: none;
}

dropdown-item {
  font-size: 7px;
}

.open {
  display: none;
}

#menuImg {
  width: 30px;
  height: 25px;
  opacity: 0.8;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 2;
}

.sidenavigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(5, 11, 65, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenavigation li {
  list-style: none;
}
.sidenavigation a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  color: white;
  display: block;
  transition: 0.3s;
  line-height: 1.5;
}
.sidenavigation a:hover {
  color: yellow;
}
.sidenavigation .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#registrationForm {
  background-color: #ffffff;
  width: 360px;
  height: 500px;
  position: relative;
  left: 58%;
  bottom: 550px;
  overflow: hidden;
  border-top: 7px solid #0c054d;
  border-bottom: 20px solid #0c054d;
  border-left: 3px solid #0c054d;
  border-right: 3px solid #0c054d;
  border-radius: 20px;
  z-index: 10;
  opacity: 0.8;
}
#registrationForm .form {
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  position: absolute;
  top: 60px;
  left: 15px;
  transition: 0.5s;
  background-color: rgba(68, 14, 218, 0.041);
  margin-left: 10px;
}
#registrationForm .form p {
  margin-left: 16px;
}
#registrationForm .form label {
  margin-left: 16px;
}
#registrationForm .form #next1 {
  margin-left: 88px;
}
#registrationForm .form #next2, #registrationForm .form #back1, #registrationForm .form #back2, #registrationForm .form #submit {
  position: relative;
  left: 13px;
}
#registrationForm .form input,
#registrationForm .form select {
  padding: 4px 4px;
  margin-left: 16px;
  margin-bottom: 20px;
  margin-top: 2px;
  background: transparent;
  outline: none;
  width: 88%;
  border-radius: 7px;
}
#registrationForm .form button {
  width: 100px;
  height: 35px;
  margin: 0 8px;
  background: linear-gradient(to right, #0c054d, #ffad05);
  border-radius: 17px;
  outline: none;
  color: #fff;
  cursor: pointer;
}
#registrationForm #formDiv2 {
  left: 450px;
}
#registrationForm #formDiv3 {
  left: 450px;
}
#registrationForm .step-raw {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}
#registrationForm .step-raw .step-col {
  width: 120px;
  text-align: center;
  color: whitesmoke;
  position: relative;
}
#registrationForm .step-raw #progress {
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(to right, #0c054d, #ffad05);
  transition: 1s;
}
#registrationForm .step-raw #progress::after {
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #ffad06;
}

#universityLoggin,
#onlineLoggin {
  z-index: 4;
  padding: 30px 20px;
  padding-left: 43px;
  background-color: #ffffff;
  width: 300px;
  height: 350px;
  position: absolute;
  top: 160px;
  left: 63%;
  border-top: 7px solid #0c054d;
  border-bottom: 20px solid #0c054d;
  border-left: 3px solid #0c054d;
  border-right: 3px solid #0c054d;
  border-radius: 20px;
  opacity: 0.8;
}
#universityLoggin h2,
#onlineLoggin h2 {
  color: #777;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 25px;
  text-decoration: underline;
}
#universityLoggin label,
#onlineLoggin label {
  margin-left: 7px;
}
#universityLoggin input,
#onlineLoggin input {
  padding: 10px 5px;
  margin: 10px 0;
  background: transparent;
  outline: none;
  width: 88%;
  border: 0;
  border-bottom: 1px solid #999;
}
#universityLoggin ::placeholder,
#onlineLoggin ::placeholder {
  color: #777;
}
#universityLoggin button,
#onlineLoggin button {
  width: 80px;
  height: 30px;
  margin: 40px 13px;
  background: linear-gradient(to right, #0c054d, #ffad05);
  border: 0;
  border-radius: 13px;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#display1,
#display2,
#display3 {
  display: none;
  animation: loading 1s linear;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1230px) {
  #logo img {
    width: 70px;
  }
  #intro1,
  #intro2,
  #intro3 {
    top: 37% !important;
    left: 12% !important;
    width: 450px !important;
  }
  #intro1 .p,
  #intro2 .p,
  #intro3 .p {
    font-size: 25px;
  }
  #intro1 h1,
  #intro2 h1,
  #intro3 h1 {
    font-size: 40px;
  }
  #intro1 .para,
  #intro2 .para,
  #intro3 .para {
    font-size: 11px;
  }
  #registrationForm {
    width: 300px;
    height: 480px;
    left: 61%;
    bottom: 520px;
  }
  #registrationForm .form {
    padding: 10px;
    width: 260px;
    left: 7px;
  }
  #registrationForm .form #next2, #registrationForm .form #back1, #registrationForm .form #back2, #registrationForm .form #submit {
    position: relative;
    left: 40px;
  }
  #registrationForm .form button {
    font-size: 12px;
    width: 60px;
    height: 35px;
  }
  #registrationForm .step-raw {
    width: 300px;
  }
  #registrationForm .step-raw .step-col {
    width: 100px;
  }
  #registrationForm .step-raw #progress {
    width: 100px;
  }
}
@media only screen and (max-width: 920px) {
  #intro1,
  #intro2,
  #intro3 {
    width: 380px !important;
  }
  #intro1 .p,
  #intro2 .p,
  #intro3 .p {
    font-size: 20px;
  }
  #intro1 h1,
  #intro2 h1,
  #intro3 h1 {
    font-size: 30px;
  }
  #intro1 .para,
  #intro2 .para,
  #intro3 .para {
    font-size: 11px;
  }
  #nav {
    right: 20px;
  }
  #nav ul li {
    margin: 10px;
  }
  #nav ul li a {
    font-size: 13px;
  }
  #registrationForm {
    width: 240px;
    height: 400px;
    left: 64.3%;
    bottom: 480px;
  }
  #registrationForm .form {
    padding: 5px;
    width: 200px;
    top: 47px;
  }
  #registrationForm .form #next1 {
    margin-left: 67px;
  }
  #registrationForm .form #next2, #registrationForm .form #back1, #registrationForm .form #back2, #registrationForm .form #submit {
    left: 20px;
  }
  #registrationForm .form input,
  #registrationForm .form select {
    padding: 2px 2px;
    margin-bottom: 10px;
  }
  #registrationForm .step-raw {
    height: 30px;
    width: 240px;
  }
  #registrationForm .step-raw .step-col {
    width: 80px;
  }
  #registrationForm .step-raw #progress {
    width: 80px;
  }
  #registrationForm .step-raw #progress::after {
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  #universityLoggin,
  #onlineLoggin {
    padding: 30px 10px;
    padding-left: 34px;
    width: 240px;
  }
  #universityLoggin h2,
  #onlineLoggin h2 {
    font-size: 20px;
  }
  #universityLoggin button,
  #onlineLoggin button {
    width: 60px;
    margin: 40px 10px;
  }
}
@media only screen and (max-width: 760px) {
  #logo {
    left: 30px;
  }
  #nav {
    right: 16px;
  }
  #nav ul li {
    margin: 7px;
  }
  #nav ul li a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 638px) {
  #logo {
    left: 80% !important;
  }
  #nav {
    display: none;
  }
  #navigation {
    display: initial;
  }
  .open {
    display: initial;
  }
}

/*# sourceMappingURL=main.css.map */
