html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#head {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("Images/loggingPage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

#logo {
  z-index: 1;
  position: relative;
  left: 30px;
  top: 20px;
}
#logo img {
  width: 100px;
  height: 40px;
}

.dropdown {
  position: relative;
  left: 73%;
  bottom: 20px;
  z-index: 2;
}
.dropdown .btn {
  background-color: rgba(5, 11, 65, 0.1);
  margin-left: 3px;
  margin-right: 7px;
  margin-top: 10px;
  padding: 0;
  border: none;
  color: #ffad05;
}
.dropdown .dropdown-item {
  font-size: 13px !important;
}

h1 {
  width: 70%;
  margin: auto;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding-left: 30px;
  color: white !important;
  font-size: 20px !important;
}

#registrationForm {
  background-color: #ffffff;
  width: 360px;
  height: 450px;
  overflow: hidden;
  border-top: 7px solid #0c054d;
  border-bottom: 20px solid #0c054d;
  border-left: 3px solid #0c054d;
  border-right: 3px solid #0c054d;
  border-radius: 20px;
  z-index: 10;
  position: relative;
  margin: auto;
  opacity: 0.8;
}
#registrationForm .form {
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  position: absolute;
  top: 60px;
  left: 15px;
  transition: 0.5s;
  background-color: rgba(68, 14, 218, 0.041);
  margin-left: 10px;
}
#registrationForm .form p {
  margin-left: 16px;
}
#registrationForm .form label {
  margin-left: 16px;
}
#registrationForm .form #next1 {
  margin-left: 88px;
}
#registrationForm .form #next2,
#registrationForm .form #back1,
#registrationForm .form #back2,
#registrationForm .form #submit {
  position: relative;
  left: 13px;
}
#registrationForm .form input,
#registrationForm .form select {
  padding: 4px 4px;
  margin-left: 16px;
  margin-bottom: 10px;
  margin-top: 2px;
  background: transparent;
  outline: none;
  width: 88%;
  border-radius: 7px;
}
#registrationForm .form button {
  width: 100px;
  height: 35px;
  margin: 0 8px;
  background: linear-gradient(to right, #0c054d, #ffad05);
  border-radius: 17px;
  outline: none;
  color: #fff;
  cursor: pointer;
}
#registrationForm #formDiv2 {
  left: 450px;
}
#registrationForm #formDiv3 {
  left: 450px;
}
#registrationForm .step-raw {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}
#registrationForm .step-raw .step-col {
  width: 120px;
  text-align: center;
  color: whitesmoke;
  position: relative;
}
#registrationForm .step-raw #progress {
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(to right, #0c054d, #ffad05);
  transition: 1s;
}
#registrationForm .step-raw #progress::after {
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #ffad06;
}

@media only screen and (max-width: 550px) {
  #logo img {
    width: 60px;
    height: 30px;
  }
  .dropdown {
    left: 61%;
    bottom: 20px;
    z-index: 2;
  }
  .dropdown .btn {
    padding: 5px 10px;
    font-size: 11px !important;
  }
  .dropdown .dropdown-item {
    font-size: 11px !important;
  }
  h1 {
    width: 82%;
    font-size: 16px !important;
  }
  #registrationForm {
    width: 300px;
    height: 450px;
  }
  #registrationForm .form {
    padding: 10px;
    width: 260px;
    left: 7px;
  }
  #registrationForm .form #next2,
  #registrationForm .form #back1,
  #registrationForm .form #back2,
  #registrationForm .form #submit {
    position: relative;
    left: 40px;
  }
  #registrationForm .form button {
    font-size: 12px;
    width: 60px;
    height: 35px;
    margin: 4px 8px;
  }
  #registrationForm .step-raw {
    width: 300px;
  }
  #registrationForm .step-raw .step-col {
    width: 100px;
  }
  #registrationForm .step-raw #progress {
    width: 100px;
  }
}
@media only screen and (max-width: 370px) {
  #registrationForm {
    width: 240px;
    height: 400px;
  }
  #registrationForm .form {
    padding: 5px;
    width: 200px;
    top: 47px;
  }
  #registrationForm .form #next1 {
    margin-left: 67px;
  }
  #registrationForm .form #next2,
  #registrationForm .form #back1,
  #registrationForm .form #back2,
  #registrationForm .form #submit {
    left: 20px;
  }
  #registrationForm .form input,
  #registrationForm .form select {
    padding: 2px 2px;
    margin-bottom: 10px;
  }
  #registrationForm .step-raw {
    height: 30px;
    width: 240px;
  }
  #registrationForm .step-raw .step-col {
    width: 80px;
  }
  #registrationForm .step-raw #progress {
    width: 80px;
  }
  #registrationForm .step-raw #progress::after {
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

/*# sourceMappingURL=onlineRegister.css.map */
